<%- include('../layouts/header.ejs') %>
<main class="flex-grow-1">
    <section class="container-fluid">
        <div class="container text-center">
            <h1 class="my-5">Oups une erreur est survenue</h1>
            <a class="btn btn-primary" href="/">Retour a l'acceuil</a>
        </div>
    </section>
</main>
<%- include('../layouts/footer.ejs') %>
